.graphContainer {
    position: relative;
    background-color: var(--secondary-color);
    border-radius: 6px;   
    height: 263px;
    max-width: 258px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.title {
    position: absolute;
    top: 29px; 
    left: 32px;
    width: 148px;
    font-size: 15px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
}

.errorMessage {
    padding-left: 20px;
}


/********************* LINE CHART ****************/
.graph {
    position: relative;
    left: -4px;
}

.XAxis {
    font-size: 12px;
    transform: scaleX(0.85);
    fill: rgba(255, 255, 255, 0.5);
}

.tooltip {
    font-size: 8px;
    text-align: center;
    background-color: white;
    padding: 8px;
    position: relative;
    bottom: 40px;
}