.graphContainer {
    position: relative;
    background-color: var(--primary-color);
    color: white;
    border-radius: 6px;   
    height: 263px;
    max-width: 258px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

.title {
    position: absolute;
    top: 5px; 
    left: 5px;
    font-size: 15px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0);
}

.errorMessage {
    padding: 100px 20px;
}


/********************* LINE CHART ****************/
.axis {
    font-size: 12px;
    fill: white;
}
