.dashboard {
    padding: 40px 96px;
}

@media screen and (max-width: 900px) {
    .dashboard {
        padding: 30px;
    }
}

h1 {
    font-size: 48px;
    font-weight: 500;
    padding-bottom: 25px;
}

h1 .userName {
    color: var(--secondary-color);
}

.personalizedMessage {
    font-size: 18px;
    font-weight: 400;
}

.dataContainer {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    padding-top: 68px;
}

@media screen and (max-width: 900px) {
    .dataContainer {
        display: flex;
        flex-direction: column;
    }
}

.nutrientCards {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 38px;
}

@media screen and (max-width: 900px) {
    .nutrientCards {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.graph1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-color: gray;
    width: 100%;
    min-width: 100px;
    height: 100%;
    min-height: 50px;
    border-radius: 6px;
}

.graph2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: red;
    width: 100%;
    min-width: 100px;
    height: 100%;
    min-height: 50px;
    border-radius: 6px;
}

.graph3, .graph4 {
    background-color: black;
    width: 100%;
    min-width: 100px;
    min-height: 50px;
    height: 100%;
    border-radius: 6px;
}

.graph3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.graph4 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}