.nutrientCard {
    max-width: 250px;
    width: 100%;
    height: 124px;
    border-radius: 6px;
    padding: 10%;
    box-sizing: border-box;
    background-color: var(--tertiary-color);    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nutrientCard__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dataValue {
    font-size: 20px;
    font-weight: 700;
}

.dataKey {
    color: rgba(116, 121, 140, 1);
    font-size: 14px;
    font-weight: 500;
}

@media screen and (max-width: 1100px) {
    .nutrientCard {
        width: 258px;
        height: 124px;
        padding: 0;
        justify-content: center;
    }
}