.verticalBar {
    background-color: var(--primary-color);
    width: 117px;    
    position: absolute;    
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 210px 350px 480px; 
}

nav[aria-label = "nav-2"] {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.copyrithContainer {
    position: relative;
    grid-row: 3 / 4;
    width: 117px;   
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    transform: rotate(-90deg);
}