.graphContainer {
    position: relative;
    background-color: var(--tertiary-color);
    border-radius: 6px;   
    height: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
    padding: 32px 30px 32px 38px;
    box-sizing: border-box;
}

.title {
    position: absolute;
    top: 29px; 
    left: 32px;
    width: 148px;
    font-size: 15px;
    font-weight: 500;
}

.errorMessage {
    padding: 100px 20px;
}


/********************* LINE CHART ****************/
/* .graph {
    padding: 14px 0px;
} */

.YAxis, .XAxis, .legendDetails {
    font-size: 14px;
    font-weight: 500;
    fill: rgba(155, 158, 172, 1);
    color: rgba(155, 158, 172, 1);
}

.tooltip {
    font-size: 8px;
    text-align: center;
    color: white;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 39px;
    height: 63px;
}

.legendContainer {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 45px;
    position: absolute;
    bottom: 68px;
    right: 0;
}
